<!DOCTYPE html>
<html>
<head>
  <title>Andeckle Time Tracker</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
  <link href="css/roboto.min.css" rel="stylesheet">
  <link href="css/material.min.css" rel="stylesheet">
  <link href="css/ripples.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/andeckle.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
  <script src="js/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>

  

  <script src="js/bootstrap.min.js"></script>
  <script src="js/andeckle-controllers.js"></script>
</head>
<body ng-app="andeckle">
<div class="container">
<div ng-controller="AndeckleController as aControl">
  <div class="row">
    <div class="col-md-12 left-align"><img src="img/andeckle.png" class="responsive-image"></div>
    <div class="col-md-12 sub-header left-align" ng-bind="aControl.appTag"></div>
  </div>
  <div class="row" ng-hide="!aControl.completeData.name">
    <div class="col-md-12 center-align" ng-show="aControl.timerStarted">
      <span class="timeCounter" ng-bind="aControl.hourCounted"></span> : 
      <span class="timeCounter" ng-bind="aControl.minuteCounted"></span> : 
      <span class="timeCounter" ng-bind="aControl.secondCounted"></span> <button type="submit" class="btn btn-primary btn-sm" ng-click="aControl.stopTimer()">Log</button>
    </div>
  </div>

  <div class="row" ng-hide="aControl.completeData.name">
    <div class="col-md-12 center-align">
      <p>Please enter your name: <br>
      <input type="text" class="timer-text-box" placeholder="Name" ng-model="aControl.userName" required><br>
      <button type="submit" class="btn btn-primary" ng-click="aControl.saveName()">Save</button>
      </p>
    </div>
  </div>


  <div class="row" ng-hide="!aControl.completeData.name">
    <div class="col-md-12 left-align gen-margin">
      <!-- Success Modal -->
      <div id="successModal" class="modal fade center-align" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Time Logger</h5>
            </div>
            <div class="modal-body">
              Time successfully logged!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-raised btn-sm" data-dismiss="modal">Dismiss</button>
            </div>
          </div>
        </div>
      </div>
      <button id="manualLogButton" type="button" class="btn btn-info btn-raised" data-toggle="modal" data-target="#myModal" ng-click="aControl.resetDataModels()" ng-hide="aControl.hideManualButton">Log Time Manually</button>
      <button type="button" id="openSuccess" data-toggle="modal" data-target="#successModal" ng-hide="true"></button>

      <!-- Modal -->
      <div id="myModal" class="modal fade center-align" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Time Logger</h4>
            </div>
            <div class="modal-body">
              <form name="manualLog" novalidate>
                <label for="time" class ="description"><span class="description">Time Logged</span></label><br>
                <input type="number" name="hour" class="timer-text-box timer-text-box-size" placeholder="00" ng-model="aControl.timerHours" required>
                <label for="mid-colon" class ="mid-colon">:</label>
                <input type="number" name="minute" class="timer-text-box timer-text-box-size" placeholder="00" ng-model="aControl.timerMinutes" max="59" required><br>
                <label for="tags" class="description"><span class="description">Tags</span></label>
                <input type="text" class="timer-text-box tags" placeholder="Tags" ng-model="aControl.timerTags" maxlength="20" required>
                <label for="date" class="description"><span class="description">Date</span></label>
                <input type="date" class="timer-text-box date" ng-model="aControl.timerDate" required><br>
                <label for="description" class="description"><span class="description">Description</span></label><br>
                <input type="text" class="timer-text-box" placeholder="Description" ng-model="aControl.timerDescription" maxlength="30" required><br><br>
                <button type="button" class="btn btn-primary btn-raised" ng-disabled="aControl.checkInvalid()" ng-click="aControl.manualTimeLogger()" data-dismiss="modal">Log Time</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="manualClose" class="btn btn-warning btn-raised" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for editing-->
      <div id="editModal" class="modal fade center-align" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Time Log</h4>
            </div>
            <div class="modal-body">
              <form name="manualLog" novalidate>
                <label for="time" class ="description"><span class="description">Time Logged</span></label><br>
                <input type="number" name="hour" class="timer-text-box timer-text-box-size" placeholder="00" ng-model="aControl.timerHours" required>
                <label for="mid-colon" class ="mid-colon">:</label>
                <input type="number" name="minute" class="timer-text-box timer-text-box-size" placeholder="00" ng-model="aControl.timerMinutes" max="59" required><br>
                <label for="tags" class="description"><span class="description">Tags</span></label><br>
                <input type="text" class="timer-text-box tags-edit" placeholder="Tags" ng-model="aControl.timerTags" maxlength="20" required><br>
                <label for="description" class="description"><span class="description">Description</span></label><br>
                <input type="text" class="timer-text-box" placeholder="Description" ng-model="aControl.timerDescription" maxlength="30" required><br><br>
                <button type="button" class="btn btn-primary btn-raised" ng-disabled="aControl.checkEditInvalid()" ng-click="aControl.saveEdit()" data-dismiss="modal" data-toggle="modal" data-target="#successModal">Save</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="editClose" class="btn btn-warning btn-raised" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row" ng-hide="!aControl.completeData.name">
    <div class="col-md-3 left-panel well well-lg"> 
      <h3 class="panel-header center-align">Timer Function</h3>
      <div class="row" ng-repeat="function in aControl.timerFunctions">
        <div class="col-md-12 fonted">
          <button type="button" class="btn font-wide well well-sm" ng-disabled="aControl.disableAllFunctions" ng-click="aControl.startTimer(function)">{{function}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-8 center-panel well well-lg">
      <h3 class="panel-header center-align panel-heading">History</h3>
      <div class="row" ng-repeat="timeTagged in aControl.completeData.timeTagged | orderBy: '-position'">
        
        <div class="col-md-12 fonted">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><span>{{timeTagged.comment}}</span><span class="right-align">{{timeTagged.date | amDateFormat:'dddd, MMMM Do YYYY'}}</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <i class="fa fa-user fa-lg"></i><span class="i-name">{{aControl.completeData.name}}</span><br>
                  <button type="button" class="btn btn-warning btn-raised btn-sm" data-toggle="modal" data-target="#editModal" ng-click="aControl.editTime(timeTagged.position)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                  </button> | <button type="button" class="btn btn-danger btn-raised btn-sm" ng-click="aControl.deleteTime(timeTagged.position)">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                              </button>
                </div>
                <div class="col-md-6">
                  <span class="label label-info bigger-font">{{timeTagged.hour}} hours</span> : <span class="label label-info bigger-font">{{timeTagged.minute}} minutes</span> <br><br>
                  <span class="bold">{{timeTagged.tags}}</span>
                </div>  
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</div>
<div id="footer">
  <div class="container">
    <p>Developed by Mustapha Babatunde for <a href="http://www.andela.co" target="_blank"><img src="img/andela.png"></a></p>
  </div>
</div>
</body>
</html>